.pane {
  height: 100%;
}

.note-container {
  background-color: #F6F6F6;
  padding-top: 5px;
  height: 100%;
  overflow-y: overlay;
  -webkit-user-select: all;
}

.note-container .note {
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  margin: 15px;
  margin-top: 10px;
  margin-right: 25px;
  font-family: helvetica;
  font-weight: 300;
  font-size: 14px;
  color: #333;
}

.note-container .note * {
  -webkit-user-select: all;
  cursor: text;
}

.ace_editor { height: 100%; }

.editor-container {
  background-color: #F6F6F6;
  padding-top: 0px;
  height: 100%;
  overflow-y: overlay;
}

.ace_content { cursor: text; }

.note .xsmall {
  max-width: 150px;
}

.note .small {
  max-width: 250px;
}

.note .medium {
  max-width: 500px;
}

.note .medium {
  max-width: 500px;
}

.note .large {
  width: 650px;
}


.note .larger {
  width: 750px;
}

.note .huge {
  width: 1000px;
}

.note>h1:first-of-type {
  margin-top: 0px;
}

.toolbar-actions .spacer { padding-left: 25px; }

code {
  border-radius: 6px;
}


/* File View */

.file-view ul li .thumbnail-icon {
  width: 220px;
  border: 1px solid #999;
  border-radius: 3px;
  background-color: white;
  height: 170px;
  margin-bottom: 5px;
  overflow: hidden;
}

.file-view ul li .thumbnail-icon img {
  width: 100%;
  height: auto;
}

.file-view ul li .icon img {
  height: 140px;
  padding-top: 10px;
}

.file-view-item {
  list-style: none;
  padding: 10px;
  margin: 10px;
  width: 220px;
  float: left;
  text-align: center;
  height: 220px;
  padding-bottom: 5px;
  margin-bottom: 0px;
}

.notebook-icon {
  width: 220px;
  height: 170px;
  margin-bottom: 5px;
  overflow: hidden;
}

.notebook-icon img {
  width: 220px;
  height: 170px;
}

pre code.hljs {
    display: block;
    line-height: 2em;
    border-radius: 5px;
    padding-left: 8px;
    padding-right: 8px;
}
code.hljs {
    display: inline-flex;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 1.1em;
    border-radius: 4px;
    margin-left: 1px;
    margin-right: 1px;
}

pre code.hljs .hljs-title {
  margin-right: 0px;
}

code.hljs .hljs-title {
  margin-right: 6px;
}

.hljs-number, .hljs-preprocessor, .hljs-pragma, .hljs-built_in, .hljs-literal, .hljs-params, .hljs-constant {
  padding-left: 7px;
  padding-right: 7px;
}

.icon-tabs {
    margin: 0px;
    margin-left: -34px;
    margin-top: 0px;
}

.icon-tabs li {
    float: left;
    list-style: none;
    text-align: center;
    font-size: 12px;
    line-height: 14px;
    padding-bottom: 4px;
    margin-right: 12px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px;
}

.icon-tabs li.active {
  background-color: #C3C2C3;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.well {
  background-color: #ECECEC;
  padding: 15px;
  height: 100%;
  padding-top: 2px;
}

.icon-name {
  width: 220px;
}

.notebook-icon-title {
  position: relative;
  top: -102px;
  font-family: Helvetica-Bold;
  font-size: 18px;
  color: #000000;
  line-height: 22px;
}

.notebook-icon-info {
  position: relative;
  top: -48px;
  font-family: Helvetica;
  font-size: 12px;
  color: #000000;
  line-height: 14px;
}


/* make keyframes that tell the start state and the end state of our object */
@keyframes fadeIn { from {  opacity:0; ransform: scale(0.3); } to { opacity:1; transform: scale(1);} }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  transform: scale(0.3);
  animation: fadeIn ease-in 1;
  animation-fill-mode:forwards;
  animation-duration:0.2s;
}
