<!DOCTYPE html>
<html  class="no-js">

  <head>
    <title>Codex</title>
    <meta charset="UTF-8">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="../css/photon.min.css">
    <link rel="stylesheet" href="../css/codex.css">

    <!-- Javascript -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/ace-builds/src-min-noconflict/ace.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="../bower_components/angular-ui-ace/ui-ace.js"></script>


    <script src="scripts/codex-app.js"></script>
    <script src="scripts/controllers/app-ctrl.js"></script>
    <script src="scripts/controllers/header-ctrl.js"></script>
    <script src="scripts/controllers/sidebar-ctrl.js"></script>
    <script src="scripts/controllers/note-view-ctrl.js"></script>
    <script src="scripts/controllers/note-edit-ctrl.js"></script>
    <script src="scripts/services/file-service.js"></script>
    <script src="scripts/services/date-formatter.js" charset="utf-8"></script>

    <script>
     var remote = require('remote');
     var dialog = remote.require('dialog');
    </script>
  </head>

  <body ng-app="codexApp">
    <div  class="window">

      <header class="toolbar toolbar-header" ng-controller="HeaderCtrl">
        <h1 class="title">Codex</h1>
        <div class="toolbar-actions">
          <button class="btn btn-default" ng-click="goToHome()">
            <span class="icon icon-home"></span>
          </button>

          <div class="btn-group">
            <button class="btn btn-default" ng-click="goBack()">
              <span class="icon icon-left"></span>
            </button>
            <button class="btn btn-default" ng-click="goForward()">
              <span class="icon icon-right"></span>
            </button>
          </div>

          <button class="btn btn-default" ng-click="createNewNote()">
            <span class="icon icon-plus"></span>
          </button>
          <button class="btn btn-default" ng-click="toogleSidebar()">
            <span class="icon icon-list"></span>
          </button>

          <div class="btn-group pull-right">
            <button class="btn btn-default" ng-class="noteEditBtnClass" ng-click="activateNoteEdit()">
              <span class="icon icon-pencil"></span>
            </button>
            <button class="btn btn-default" ng-class="noteViewBtnClass" ng-click="activateNoteView()">
              <span class="icon icon-eye"></span>
            </button>
          </div>

        </div>
      </header>


      <!-- Your app's content goes inside .window-content -->
      <div class="window-content" id="holder">
        <div class="pane-group">
          <div class="pane pane-sm sidebar" ng-controller="SidebarCtrl" ng-show="showSidebar">
            <nav class="nav-group">
              <h5 class="nav-group-title">My Notes</h5>
              <span class="nav-group-item active" ng-click="goToAllNotes()">
                <span class="icon icon-archive"></span>
                All Notes
              </span>
              <span class="nav-group-item">
                <span class="icon icon-book"></span>
                Notebooks
              </span>
              <h5 class="nav-group-title">Favorites</h5>
              <span class="nav-group-item">
                <span class="icon icon-star"></span>
                Starred
              </span>
            </nav>
          </div>
          <div class="pane" ui-view ></div>
        </div>
      </div>

      <footer class="toolbar toolbar-footer">
        <h1 class="title" ng-bind="noteCount()"></h1>
      </footer>

    </div>
  </body>
</html>
