<table class="table-striped" ng-show="false">
  <thead>
    <tr>
      <th>Name</th>
      <th>Kind</th>
      <th>Date Modified</th>
      <th>Author</th>
      <th>Size</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="file in files track by $index" ng-dblclick="openNote(file)" >
      <td>{{file.path}}</td>
      <td>{{file.type}}</td>
      <td>{{file.modified_at}}</td>
      <td>{{file.author}}</td>
      <td>{{file.size}}</td>
    </tr>
  </tbody>
</table>

<div class="file-view">
  <ul>
    <li ng-repeat="file in files track by $index" ng-dblclick="openFile(file)" class="file-view-item isotope-item fade-in" isotope-item="{{file.path}}">
      <div class="thumbnail-icon" ng-show="file.type != 'Folder'" ng-right-click="fileContextMenu(file)">
        <img src="{{getImageURL(file.path)}}" ng-hide="isImage(file.type)">
        <img src="{{file.thumbnail}}" ng-show="isImage(file.type)">
      </div>
      <div class="notebook-icon" ng-show="file.type == 'Folder'">
        <img class="notebook-thumbnail" src="content/imgs/folder-gray-icon.png" >
        <div class="notebook-icon-title">{{file.title}}</div>
        <div class="notebook-icon-info">{{file.size}}</div>
      </div>
      <div class="icon-name" ng-show="file.type != 'Folder'">{{file.title}}</div>
      <div class="icon-name" ng-show="file.type == 'Folder'">{{file.title}}</div>
    </li>
  </ul>
</div>
